[Desktop Entry]
Type=Application
Name=Omalook
GenericName=Email Client
Comment=Mail, calendar and contacts for Microsoft 365 and Gmail
Exec=omalook
Icon=omalook
Terminal=false
Categories=Office;Email;Calendar;ContactManagement;
Keywords=email;mail;outlook;calendar;contacts;gmail;microsoft;
StartupWMClass=omalook
